MONGODB_URI=mongodb://mongo3:27019/webphim?directConnection=true
OPHIM_BASE_URL=https://ophim1.com/v1/api/
APP_AUTH_ISSUER=http://localhost:8080
APP_AUTH_SPA_REDIRECT_URI=http://localhost:5173/callback
APP_AUTH_SPA_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/
APP_SECURITY_CSP_ALLOWED_FRAME_HOSTS=
APP_PUBLIC_URL=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_AUTH=true
SMTP_STARTTLS_ENABLE=true
SMTP_SECURE=false
MAIL_FROM=your-email@gmail.com
SPRING_PROFILES_ACTIVE=dev
